<div class="container">
    <h1>Get Involved in the Conversation!</h1>

    {{#with blogPost}}
    {{> blogCard}}
    {{/with}}


    {{> comments}}

</div>

<script src="/assets/js/comment.js"></script>