<div class="container">
    {{#if isLoggedIn}}
    <h1>Welcome logged in user: {{loggedInUser.username}}</h1>
    {{/if}}

    <h1 class="mt-5">Recent Blog Posts</h1>

    {{#each blogPosts as | blog |}}
    {{> blogCard}}
    {{/each}}
</div>